.radio-box,
.checkbox-container {
  position: relative;
  padding: 0px 0px 0px 15px;
  cursor: pointer;
  display: inline-block;
}

.radio-box input,
.checkbox-container input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.radio-checkmark,
.checkbox-checkmark {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 13px;
  height: 13px;
  background-color: #eeeeee;
}

.radio-checkmark {
  border-radius: 50%;
}

.radio-box:hover .radio-checkmark,
.checkbox-container:hover .checkbox-checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkbox-checkmark,
.radio-box input:checked ~ .radio-checkmark {
  background-color: #27aE60;
}

.radio-checkmark::after,
.checkbox-checkmark::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 5px;
  height: 5px;
  display: none;
}

.radio-checkmark:after {
  background-color: white;
  border-radius: 50%;
}

.checkbox-checkmark::after {
  top: 2px;
  width: 3px;
  height: 6px;
  border: solid white;
  transform: rotate(45deg);
  border-width: 0px 2px 2px 0px;
}

.radio-box input:checked ~ .radio-checkmark::after,
.checkbox-container input:checked ~ .checkbox-checkmark::after {
  display: block;
}